<!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" matInput [formControl]="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="password" placeholder="*****">
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Please enter a strong password
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="Submit()" class="btn btn-info"  [disabled]="!email.valid || !password.valid">Login</button>
  </form> -->


  <div id="login">
    <div class="login-card">
  
      <div class="card-title">
        <h1>Please Sign In</h1>
      </div>
  
      <div class="content">
        <form method="POST" action="#">

            <mat-form-field>
          <input matInput [formControl]="email"  id="email" type="email" name="email" title="email" placeholder="Email" required autofocus>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [formControl]="password"  id="password" type="password" name="password" title="password" placeholder="Password" required>
          <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Please enter a strong password
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
          <div class="level options">
            <div class="checkbox level-left">
              <input type="checkbox" id="checkbox" class="regular-checkbox">
              <label for="checkbox"></label>
              <span>Remember me</span>
            </div>
  
            <a class="btn btn-link level-right" href="#">Forgot Password?</a>
          </div>
  
          <button type="submit" (click)="Submit()" class="btn btn-primary" [disabled]="!email.valid || !password.valid">Login</button>
        </form>
      </div>
    </div>
  </div>