<!-- <form class="example-form" [formGroup]="registerForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>FirstName</mat-label>
        <input type="text" matInput formControlName="fName" placeholder="Saif">
        <mat-error *ngIf="registerForm.controls['fName'].hasError('required')">
          Please enter a valid First Name
        </mat-error>
        <mat-error *ngIf="registerForm.controls['fName'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>LastName</mat-label>
          <input type="text" matInput formControlName="lName" placeholder="*****">
          <mat-error *ngIf="registerForm.controls['lName'].hasError('required')">
            Please enter a strong password
          </mat-error>
          <mat-error *ngIf="registerForm.controls['lName'].hasError('required')">
          Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="*****">
        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
          Please enter a strong password
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="Submit()" class="btn btn-info"  [disabled]="registerForm.valid">Login</button>
  </form> -->


  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Responsive Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="registerForm">

            <div class="row clearfix">
                
                <div class="col_half">
                    <mat-label>First Name</mat-label>
                    <mat-form-field class="example-full-width">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    
                    <input type="text" matInput formControlName="fname" name="name" placeholder="First Name" />
                    <mat-error *ngIf="registerForm.controls['fname'].hasError('required')">
                        First name is <strong>required</strong>
                      </mat-error>
                     
                  </div>
</mat-form-field>

</div>
               
<div class="col_half">
    <mat-label>Last Name</mat-label>
    <mat-form-field class="example-full-width">
  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
    <input type="text" matInput formControlName="lname" name="name" placeholder="Last Name" required />
    <mat-error *ngIf="registerForm.controls['lname'].hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
  </div>
  </mat-form-field>
</div>

</div>


<mat-form-field>
    <mat-label>Email</mat-label>
<div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
  <input type="email" formControlName="email" name="email" placeholder="Email" required />
  <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
</div>
</mat-form-field>

<mat-form-field>
    <mat-label>Password</mat-label>
    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
      <input type="password" matInput formControlName="password" name="password" placeholder="Password" required />
      <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
        Please enter strong password
      </mat-error>
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        password is <strong>required</strong>
      </mat-error>
    </div>

    </mat-form-field>

    <mat-form-field>
    <mat-label>Re-Password</mat-label>
    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
      <input matInput formControlName="passwordCheck" (change)="compare()" type="password" name="password" placeholder="Re-type Password" required />
      <mat-error *ngIf="registerForm.controls['passwordCheck'].hasError('minlength') && !registerForm.controls['passwordCheck'].hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="registerForm.controls['passwordCheck'].hasError('required')">
        password reWrite is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.controls['passwordCheck'].hasError('mismatch')">
        password do not  <strong>Match</strong>
      </mat-error>
    </div>
</mat-form-field>

<mat-form-field>
          <div class="input_field radio_option">
        <input type="radio" name="radiogroup1" id="rd1">
        <label for="rd1">Male</label>
        <input type="radio" name="radiogroup1" id="rd2">
        <label for="rd2">Female</label>
        </div>
    </mat-form-field>
        <div class="input_field select_option">
          <select>
            <option>Select a country</option>
            <option>Option 1</option>
            <option>Option 2</option>
          </select>
          <div class="select_arrow"></div>
        </div>


        <div class="input_field select_option">
            <select>
              <option>Select a country</option>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
            <div class="select_arrow"></div>
          </div>
        <div class="input_field checkbox_option">
            <input type="checkbox" id="cb1">
            <label for="cb1">I agree with terms and conditions</label>
        </div>
        <div class="input_field checkbox_option">
            <input type="checkbox" id="cb2">
            <label for="cb2">I want to receive the newsletter</label>
        </div>
      <input class="button" type="submit" value="Register" (click)="submit()" [disabled]="!registerForm.valid"/>
      <p (click)="ToLogin()">alrdy have an account</p>
    </form>
  </div>
</div>
</div>
</div>

