<router-outlet></router-outlet>

<ngx-spinner bdColor = "rgba(120,185,81,0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- <app-navbar> </app-navbar> -->


<!-- 
<h1>Welcome {{name}}</h1>
<h1>anual Salary = {{salary*12}}</h1>
<input type="text" name="name" value="{{name}}" (change)="handelInputEvent($event)">
<input type="number" name="age" value="{{age}}">
<input type="number" name="salary" [value]="salary">
<input type="number" name="salary" [(ngModel)]=salary>
<input type="text"name="name2" [(ngModel)]=name (ngModelChange)="handelChangeEvent($event)">

<button (click)="ClearAll()">ClearAll</button>   


<button  (click)="hide()">hide/show</button>  
<h1 *ngIf="show">test</h1> 

<div *ngFor=" let obj of course">
    <h1 class="yellow"> id = {{obj.id}}</h1>
    <h1 [ngClass]="'red'"> name = {{obj.name}}</h1>

</div> -->


<!-- <app-home-page></app-home-page>

<app-footer></app-footer> -->